* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: medium;
    padding: 0;
    margin: 0;
    --var-base-blue: rgb(43, 162, 226);
    --var-base-blank: #eee;
    --var-btn-radius: 5pt;
    --var-header-height: 50px;
}

input[type="text"] {
    border: 1px var(--var-base-blue) solid;
    border-radius: var(--var-btn-radius);
    padding: 4px;
}

input[type="text"].error {
    border-color: red;
}

input[type="text"]:focus {
    border: 1px var(--var-base-blue) solid;
}

math {
    font-size: large;
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--var-base-blue);
    color: #fff;
    overflow-y: scroll;
}

main {
    padding-top: var(--var-header-height);
}

header ul {
    list-style: none;
    padding: 2px 0px 0 5px;
    margin: 0;
}

header ul > li {
    display: inline-block;
    padding: 8px;
    user-select: none;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

header ul > li.selected {
    background-color: #fff;
    color: #222;
}

.welcome {
    padding: 0 20px 0 20px;
}

textarea {
    width: 100%;
    height: 100px;
}

ul.main, ol.main {
    padding: 0 0;
    list-style-type: none;
}
ul.main, ol.main > li {
    padding: 3pt 10pt;
    border-left: 2pt solid #fff;
    border-bottom: 1pt solid #ccc;
}
ul.main, ol.main > li.selected {
    border-left: 2pt solid var(--var-base-blue);
}

button.selected, button:active {
    background-color: var(--var-base-blue);
    color: #fff;
}

.ordinal-container {
    overflow-y: scroll;
}

button {
    border: 1pt solid var(--var-base-blue);
    border-radius: var(--var-btn-radius);
    background-color: var(--var-base-blank);
    padding: 4pt;
}

ul.settings {
    list-style-type: none;
    padding: 10pt;
}

ul.settings > li {
    display: inline-block;
    padding: 5pt;
}

ul.settings ul {
    display: inline-block;
    padding: 0;
    list-style-type: none;
    background-color: var(--var-base-blank);
}

ul.settings ul > li {
    display: inline-block;
    padding: 5pt;
}

.small-menu {
    padding: 2pt 0 0 0;
}

ul.small-menu {
    list-style: none;
    padding: 0;
}
ul.small-menu > li {
    display: inline-block;
    padding: 0 5pt 0 0;
}
