* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: medium;
    padding: 0;
    margin: 0;
    --var-base-blue: rgb(43, 162, 226);
    --var-base-blank: #eee;
    --var-base-gray: #ccc;
    --var-base-light-gray: #f0f0f0;
    --var-btn-radius: 3pt;
    --var-base-light-orange: #1e1;
    --var-header-height: 50px;
}

input[type="text"] {
    border: 1px var(--var-base-gray) solid;
    border-radius: var(--var-btn-radius);
    padding: 4px;
}

input[type="text"].error {
    border-color: red;
}

input[type="text"]:focus {
    outline-color: var(--var-base-blue);
}

math {
    font-size: large;
}

nav {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: 60px;
    background-color: #fff;
    border-top: 1px solid var(--var-base-gray);
    border-left: 1px solid var(--var-base-gray);
    min-width: 25vw;
}

/* header ul > li.selected {
    background-color: var(--var-base-blue);
    border-color: var(--var-base-blue);
    color: #fff;
} */

ul.tablist {
    margin: 0;
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid var(--var-base-gray);
}

ul.tablist > li {
    margin: 4px;
    display: block;
    padding: 8px;
    user-select: none;
    cursor: pointer;
    border: 1px solid var(--var-base-gray);
    border-radius: var(--var-btn-radius);
    background-color: #fff;
}

ul.tablist > li.selected {
    background-color: var(--var-base-blue);
    border-color: var(--var-base-blue);
    color: #fff;
}

span.untitled {
    color: #666;
    font-style: italic;
}

.app-menu-row > * {
    margin: 2px;
}

.app-menu-row {
    border-bottom: 1px solid var(--var-base-gray);
    padding: 5px;
    background-color: #fff;
}

dialog {
    border: 1px solid var(--var-base-gray);
    border-radius: var(--var-btn-radius);
}

dialog button, dialog.button {
    margin: 3px;
}

td button:not(:last-child) {
    margin-right: 5px;
}

.welcome {
    padding: 0 20px 0 20px;
}

.welcome table {
    overflow-y: scroll;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
    border: 1px solid #ddd;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid var(--var-base-gray);
    border-radius: var(--var-btn-radius);
    padding: 4px;
}

textarea:focus {
    outline-color: var(--var-base-blue);
}

ul.main, ol.main {
    padding: 0 0;
    margin-left: 2px;
    list-style-type: none;
}
ul.main, ol.main > li {
    padding: 0;
}
.ordinal-item {
    padding: 3pt 10pt;
    border-bottom: 1pt solid var(--var-base-gray);
}
.ordinal-item.selected {
    border-left: 2pt solid var(--var-base-blue);
}

.sublist-container {
    padding: 5px 0 5px 0;
    border-bottom: 2px solid var(--var-base-blue);
    /* border-left: 1px solid var(--var-base-gray); */
}
.sublist-container ol {
    list-style: none;
    padding: 0;
    /* padding: 0 0 0 2px; */
}

.ordinal-container {
    overflow-y: scroll;
}

a.button {
    text-decoration: none;
    color: #000;
}

button, .button {
    border: 1pt solid var(--var-base-gray);
    border-radius: var(--var-btn-radius);
    background-color: var(--var-base-light-gray);
    padding: 4pt;
    font-style: normal;
    font-weight: normal;
    color: #000;
}

button.selected, button:active, .button.selected, .button:active {
    background-color: var(--var-base-blue);
    border-color: var(--var-base-blue);
    color: #fff;
}

ul.settings {
    list-style-type: none;
    padding: 10pt;
}

ul.settings > li {
    display: inline-block;
    padding: 5pt;
}

ul.settings ul {
    display: inline-block;
    padding: 0;
    list-style-type: none;
    background-color: var(--var-base-blank);
}

ul.settings ul > li {
    display: inline-block;
    padding: 5pt;
}

.small-menu {
    padding: 2pt 0 0 0;
}

ul.small-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.small-menu > li {
    display: inline-block;
    margin: 4px;
}
.small-menu > * {
    margin: 4px;
}

ul.bookmarks {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    text-align: left;
}

ul.bookmarks > li {
    padding: 2px 10px;
    cursor: pointer;
    overflow-x: scroll;
    border-bottom: 1px solid var(--var-base-gray);
}

ul.bookmarks li:hover {
    background-color: var(--var-base-light-gray);
}

div.tablist {
    position: fixed;
    font-size: x-large;
    top: 10px;
    right: 10px;
    text-align: right;
}

div.tablist button {
    font-size: x-large;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    text-align: center;
}

ol.ordinal-candidates {
    list-style: none;
    padding-left: 10px;
}

ol.ordinal-candidates > li {
    padding: 2px;
}

dialog.loading:before {
    display: block;
    content: " ";
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: var(--var-base-blue) #0000;
    animation: loading 1s infinite;
}
@keyframes loading {to{transform: rotate(.5turn)}}

dialog.loading {
    background-color: #0000;
    border: 0;
}
dialog.loading:focus {
    outline: none;
}

.cursor-marker:before {
    content: "";
    border-left: 2px solid var(--var-base-light-orange);
}

button.sublist-control {
    aspect-ratio: 1;
    width: 40px;
    height: 40px;
    font-size: x-large;
    padding: 2px;
}